.footer {
  background-color: $lightblue;

  &__call {
    background-color: $brown;
    text-align: center;
    padding: 5px 0;
    font-size: 22px;
    color: #fff;

    a {
      color: #fff;
    }

    @media screen and (max-width: 375px) {
      font-size: 18px;
    }
  }

  &__wrap {
    padding: 15px 0;
    font-weight: 300;

    @media screen and (max-width: $tablet) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__logo {
    width: 150px;
    margin-bottom: 15px;

    @media screen and (max-width: $tablet) {
      margin: 0 auto 15px;
      display: block;
    }

    @media screen and (max-width: 375px) {
      width: 120px;
    }
  }

  &__text {
    color: #fff;
    font-weight: 300;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__desc {
    width: 44%;

    @media screen and (max-width: $tablet) {
      display: none;
    }
  }

  &__contacts {
    padding-left: 5vw;

    @media screen and (max-width: $tablet) {
      text-align: center;
      font-size: 22px;
      line-height: 1.4;
      padding-left: 0;

      a[href^="tel"]:last-of-type {
        display: block;
      }
    }

    @media screen and (max-width: 375px) {
      font-size: 20px;
    }

    a {
      color: #fff;
    }
  }
}

.socials {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.social {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 3px;
  background-color: #009fcc;
  display: flex;
  align-items: center;
  justify-content: center;
}
