/* Widths */
$desktop: 1920px;
$min-desktop: 1024px;
$min-tablet: 768px;

/* Colors */

$black: #363745;
$blue: #00547e;
$lightblue: #0088d5;
$bgblue: #007cb9;
$bgbluelight: #8bd1f4;
$brown: #9f8058;
$gray: #707070;
$gold: #e29730;
$graybg: #edeeef;

/* Fonts */

$f18: 1.2vw;
$f19: 1.25vw;
$f21: 1.4vw;
$f31: 1.8vw;
$f40: 2vw;
