@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/Fira Sans Regular.otf") format("opentype");
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/Fira Sans ExtraLight.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/Fira Sans ExtraLight Italic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/Fira Sans Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/Fira Sans Light Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/Fira Sans Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EB Garamond SemiBold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "PFDinTextCondPro";
  src: url("../fonts/PFDinTextCondPro-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Spectral Light";
  src: url("../fonts/Spectral Light.otf") format("opentype");
}
